.Header {
  --padding-top-bottom: var(--header-padding, 5px);
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-menu, 1000);
  height: var(--header-height-, 40px);
  background: #fff;
  border-bottom: 1px solid var(--color-grey, #000);
  margin-bottom: 40px;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.Logo {
  --logo-padding: calc(var(--header-padding, 5px) + 1px);
  font-weight: 500;
  padding: var(--logo-padding) 0;
  color: var(--color-gold, orange);
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
}

.NavLink {
  display: inline-block;
  padding: var(--header-padding, 5px) 10px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px;
  font-weight: normal;
  color: var(--color-primary, #000000);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.25s linear;
  overflow-x: hidden;
}

.NavLink_active,
.NavLink:hover {
  color: var(--color-gold, orange);
  border-bottom: 3px solid var(--color-gold, orange);
}

@media only screen and (max-width: 450px) {
  .Nav {
    display: none;
  }
}
